<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h2>Создание операции</h2>
            <form th:action="@{/entries}" method="post" th:object="${entryDtoRq}">
                <input class="form-control" type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label>Сумма операции</label>
                    <input class="form-control" id="amount" placeholder="сумма" th:field="*{amount}"/>
                </div>
                <div class="form-group">
                    <label>Дата операции</label>
                    <input class="form-control" id="date" placeholder="формат 31.12.2001" th:field="*{date}"/>
                </div>
                <div class="form-group">
                    <label>Время операции</label>
                    <input class="form-control" id="time" placeholder="формат 23:50" th:field="*{time}"/>
                </div>
                <div class="form-group">
                    <label>Описание операции</label>
                    <input class="form-control" id="description" placeholder="описание" th:field="*{description}"/>
                </div>
                <div class="form-group">
                    <label>Имя категории</label>
                    <input class="form-control" id="categoryName" placeholder="category name" th:field="*{categoryName}"/>
                    <button class="alert alert-danger" th:classappend="${!categoryNotFound} ? 'd-none'">
                        Такой категории не существует!
                    </button>
                </div>
                <div class="form-group">
                    <label>Имя пользователя</label>
                    <input class="form-control" placeholder="username" th:field="*{username}"/>
                    <button class="alert alert-danger" th:classappend="${!userNotFound} ? 'd-none'">
                        Пользователь с таким username не существует!
                    </button>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>